.site-title {
  text-decoration: none;
  color: #fff;
}

.top-nav {
  left: 0;
  margin: 0 auto;
  width: 940;
  transition: none 0 0;
  ul {
    li {
      display: inline-block;

      &:not(.has-form) {
        background-color: transparent;
        margin: 0 10px;
      }
    }

    a:not(.button) {
      background-color: transparent;
      border-bottom: 0 solid #fff;
      color: #fff;
      display: inline-block;
      font-size: 16px;
      height: 70px;
      line-height: 70px;
      padding: 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: border .2s, color .2s;

      &.active,
      &:active,
      &:hover,
      &:focus {
        border-bottom: 4px solid #fff;
        color: #fff;
      }
    }
  }
}
